{% extends 'base.html' %}

{% block title %}Editar Contrato{% endblock %}

{% block content %}
  <h1>Editar Contrato</h1>

  <form method="POST">
    <label for="nome">Nome:</label><br>
    <input type="text" id="nome" name="nome" value="{{ contrato.nome }}"><br><br>

    <label for="cnpj">CNPJ:</label><br>
    <input type="text" id="cnpj" name="cnpj" value="{{ contrato.cnpj }}"><br><br>

    <label for="endereco">Endereço:</label><br>
    <input type="text" id="endereco" name="endereco" value="{{ contrato.endereco }}"><br><br>

    <label for="cep">CEP:</label><br>
    <input type="text" id="cep" name="cep" value="{{ contrato.cep }}"><br><br>

    <label for="estado">Estado:</label><br>
    <input type="text" id="estado" name="estado" value="{{ contrato.estado }}"><br><br>

    <label for="telefone">Telefone:</label><br>
    <input type="text" id="telefone" name="telefone" value="{{ contrato.telefone }}"><br><br>

    <label for="email">E-mail:</label><br>
    <input type="email" id="email" name="email" value="{{ contrato.email }}"><br><br>

    <label for="valor_contrato">Valor do Contrato:</label><br>
    <input type="number" id="valor_contrato" name="valor_contrato" value="{{ contrato.valor_contrato }}"><br><br>

    <label for="data_contrato">Data do Contrato:</label><br>
    <input type="date" id="data_contrato" name="data_contrato" value="{{ contrato.data_contrato }}"><br><br>

    <input type="submit" value="Salvar" onclick="return confirm('Tem certeza que deseja salvar as alterações?')">
  </form>

  <a href="{{ url_for('index') }}">Cancelar</a>
{% endblock %}